body{


    background-image: url(/MikkelBagrund.png);

    



    background-size: 15%;
    
    


    


    



   

}
.Billeder{
    background-color: rgba(255, 255, 255, 0.8);
    border : 10px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    text-align: center;
    animation-name: Left;
    animation-duration: 5s;
  
    
   
}
#container{
    background-color:   rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: row;
    border : 10px solid black;
    height: 100vh;
    justify-content: space-around;
    align-items: center; ;
    font-size: 60px;
}
.overskrift{
    text-align: center;
    font-size: 40px;
    margin-top: 5em;
    justify-content: space-around;
    font-size: 50px;
    background-color: rgba(246, 242, 250, 0.9);
    
}
#icons{

    font-size: 80px;


}
.fa-solid.fa-house.fa-2xl{



    color: rgb(0, 0, 0);
}
.fa-sharp.fa-solid.fa-square-envelope.fa-2xl{



    color: rgb(64, 0, 255);
}
.fa-brands.fa-square-instagram.fa-2xl{


    color: red;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(81, 67, 93);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: 40px;
}
.navbar a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;



}
.navbar a:hover{
    background-color: rgb(23, 22, 22);
}
.navbar li{
    float: left;
}

.pagination{

    text-align: center; 
    font-size: 100px;
 }
 .pagination a{
     color:black;
     text-decoration: none;
     padding: 8px 16px;
     display: inline-block;
 }
 .pagination a.active{
     background-color: #4CAF50;
     font-weight: bold;
     border-radius: 5px;
 }
 .pagination a:hover:not(.active){
     background-color: #6f7d6e;
     border-radius: 5px;
 }
 @keyframes Left{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }

   
}