video {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 3000px;
    height: 3000px;
 
   
}
body{


    background-image: url(/TrollFace.png);

    background-position: center;

    background-attachment: fixed;

   

}