h1{

    text-align: center;
    font-size: 70px;
    
}
body{
    margin: 0px;
}
main{
    margin-left: 50px;
    margin-right: 50px;
   
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(81, 67, 93);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: 52px;
}
.navbar a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;



}
.navbar a:hover{
    background-color: rgb(23, 22, 22);
}
.navbar li{
    float: left;
}
.trustpilot{
    text-align: center;
    font-size: 40px;
    margin-top: 5em;
    justify-content: space-around;
    

}
#container{
    background-color:  rgb(246, 242, 250);
    display: flex;
    flex-direction: row;
    border : 5px solid black;
    height: 100vh;
    justify-content: space-around;
    align-items: center; ;
    font-size: 60px;
}
.TBHbilled{
    text-align: center;
    animation-name: Left;
    animation-duration: 5s;
    
}
@keyframes Left{
    from{transform: translateX(300%)}
   
}
@keyframes DISCO{
    0% {
        color: red;
      }
      25% {
        color: green;
      }
      50% {
        color: blue;
      }
      75% {
        color: yellow;
      }
      100% {
        color: purple;
      }
   
}
#TBHregler{
    background-color:  rgb(246, 242, 250);
    font-size: 80px;
    text-align: left;
    border : 5px solid black;
    justify-content: space-around;
    animation-name: Left;
    animation-duration: 5s;
    
   
}
footer{
    display: block;
    clear:both;
    background-color: rgb(43, 41, 45);
    text-align: center;
    padding: 25px;
}
.Billeder{
    text-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: row;
    border : 15px solid black;
    height: 65vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 242, 250);
    position: relative;
    
}
.Billeder::after{
    font-size: 50px;
   

    content: "Klik på en person for lære mere om dem  ";
    position: absolute;
    top: 96%;
    left: 37%;
    background-color: rgb(246, 242, 250);



    
   
}
#greenting p{
    font-size: 100px;

    background-color: rgb(246, 242, 250);
    padding:  100px;
    display:  none;
}
#greenting:hover p{
    font-size: 200px;

    background-color: rgb(245, 8, 8);

    display: block;
}



.pagination{

    text-align: center; 
    font-size: 100px;
 }
 .pagination a{
     color:black;
     text-decoration: none;
     padding: 8px 16px;
     display: inline-block;
 }
 .pagination a.active{
     background-color: #4CAF50;
     font-weight: bold;
     border-radius: 5px;
 }
 .pagination a:hover:not(.active){
     background-color: #6f7d6e;
     border-radius: 5px;
 }

 #icons{

    font-size: 80px;


}
.fa-solid.fa-house.fa-2xl{



    color: rgb(0, 0, 0);
}
.fa-sharp.fa-solid.fa-square-envelope.fa-2xl{



    color: rgb(64, 0, 255);
}
.fa-brands.fa-square-instagram.fa-2xl{


    color: red;
}

#test{
    background-color: blue;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #050505;
    border-radius: 5px;
    font-size: 70px;
   

}
#test1{
    background-color: red;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solidrgb(7, 7, 7)c;
    border-radius: 5px;
    font-size: 70px;
   

}
#test2{
    background-color: green;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #0e0d0d;
    border-radius: 5px;
    font-size: 70px;
   

}
#test3{
    background-color: #f1f1f1;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 70px;
   

}
.Knapper1{
    text-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: row;
    border : 15px solid black;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 242, 250);
    position: relative;
    
}


.Knapper1::after{
    font-size: 100px;
   

    content: "HVAD SIGER TBH OM DEN SEKSUELLE LAVALDER ";
    position: absolute;
    top: 96%;
    left: 14%;
    background-color: rgb(246, 242, 250);
}
#TBHTEKST{
    background-color:  rgb(246, 242, 250);
    font-size: 80px;
    text-align: center;
    border : 5px solid black;
    justify-content: space-around;
    animation-name: Left;
    animation-duration: 5s;
    
   
}
#TBHTEKST1{
    background-color:  rgb(246, 242, 250);
    font-size: 120px;
    text-align: center;
    border : 10px solid black;
    justify-content: space-around;
    animation-name: DISCO;
    animation-duration: 5s;
    animation: DISCO 2s linear infinite;
   
}
.Billeder2{
    
    font-size: 80px;
    text-align: center;
    border : 5px solid black;
    justify-content: space-around;
    height: 50vh;

    
    animation-duration: 5s;
    
   
}
#test4{
    background-color: blue;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #0d0d0d;
    border-radius: 5px;
    font-size: 70px;
   

}
#test5{
    background-color: red;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solidrgb(16, 15, 15)c;
    border-radius: 5px;
    font-size: 70px;
   

}
#test6{
    background-color: green;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solidrgb(12, 12, 12)c;
    border-radius: 5px;
    font-size: 70px;
   

}
#test7{
    background-color: #f1f1f1;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 70px;
   

}
#test8{
    background-color: blue;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #0c0c0c;
    border-radius: 5px;
    font-size: 70px;
   

}
#test9{
    background-color: red;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #131212;
    border-radius: 5px;
    font-size: 70px;
   

}
#test10{
    background-color: green;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #1d1b1b;
    border-radius: 5px;
    font-size: 70px;
   

}
#test11{
    background-color: #f1f1f1;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 70px;
   

}
.Knapper3{
    text-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: row;
    border : 15px solid black;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 242, 250);
    position: relative;

    
}
#test12{
    background-color: blue;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solidrgb(8, 8, 8)c;
    border-radius: 5px;
    font-size: 70px;
   

}
#test13{
    background-color: red;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #0c0c0c;
    border-radius: 5px;
    font-size: 70px;
   

}
#test14{
    background-color: green;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #171616;
    border-radius: 5px;
    font-size: 70px;
   

}
#test15{
    background-color: #f1f1f1;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 70px;
   

}
#test16{
    background-color: blue;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #0c0c0c;
    border-radius: 5px;
    font-size: 70px;
   

}
#test17{
    background-color: red;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #0c0c0c;
    border-radius: 5px;
    font-size: 70px;
   

}
#test18{
    background-color: green;
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 10px solid #0d0d0d;
    border-radius: 5px;
    font-size: 70px;
   

}
#test19{
    
    padding: 200px;
    height: 35vh;
    width: 50%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 70px;
   

}
.Knapper2{
    text-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: row;
    border : 15px solid black;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 242, 250);
    position: relative;
    
}


.Knapper2::after{
    font-size: 100px;
   

    content: "HVAD VIL TBH GØR HVIS EN GRAVID DAME MANGLER EN PLADS I BUSSEN ";
    position: absolute;
    top: 96%;
    left: 3%;
    background-color: rgb(246, 242, 250);
}


.Knapper3{
    text-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: row;
    border : 15px solid black;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 242, 250);
    position: relative;
    
}


.Knapper3::after{
    font-size: 100px;
   

    content: "HVAD ER TBHS HOLDNING TIL LIGESTILLING";
    position: absolute;
    top: 96%;
    left: 14%;
    background-color: rgb(246, 242, 250);
}

.Knapper4{
    text-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: row;
    border : 15px solid black;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 242, 250);
    position: relative;
    
}


.Knapper4::after{
    font-size: 100px;
   

    content: "HVAD ER TBHS LIVS RÅD TIL UNGE MENNESKER  ";
    position: absolute;
    top: 96%;
    left: 14%;
    background-color: rgb(246, 242, 250);
}
.Knapper{
    text-shadow: 2px 2px 4px #000;
    display: flex;
    flex-direction: row;
    border : 15px solid black;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(246, 242, 250);
    position: relative;
    
}
.Knapper::after{
    font-size: 100px;
   

    content: "HVAD SIGER TBH OM TRANSKØNNEDE ";
    position: absolute;
    top: 96%;
    left: 22%;
    background-color: rgb(246, 242, 250);
}
#TBHTEKST3{
    background-color:  rgb(246, 242, 250);
    font-size: 120px;
    text-align: center;
    border : 5px solid black;
    justify-content: space-around;
   
    animation-duration: 5s;
    
   
}
#TBHTITLEN{
    background-color:  rgb(158, 145, 170);
    font-size: 120px;
    text-align: center;
    border : 30px solid black;
    justify-content: space-around;
  

    
}